*__pychache__*
.vscode
jpeg-ai-reference-software/

__pychache__/
*pycache*
*_dataset
*.zip
JPEGAI_output/
output/
real_vs_fake/
input_imgs


*.csv
*.idea/
models_saved/*

*.aux
*.bbl
*.synctex.gz
src/utils/*
!src/utils/params.py

*.joblib

src/**/cfg/*

